.hola {

    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: black;
    text-align: center;

}

.h2-inicio {
    text-align: justify;
    color: black;
    font-size: 18px;
    margin-left: 200px;
    margin-right: 200px;
}

/* comienza estilo de las targetas */

.testosterona {
  
}

.h2-testosterona {
    margin-left: 460px;
    margin-top: 50px;
}

img {
    margin-left: 300px;
   
}
